.profile {
    max-width: 600px;
    border-radius: 12px;
    background-color: #fff;
}

.description {
    padding: 60px;
    text-align: center;
}

.avatar {
    width: 60%;
    border-radius: 50%;
}

.name {
    font-size: 42px;
    font-weight: 700;
    margin: 40px 0 0;
}

.tag,
.location {
    margin: 24px 0 0;
    font-size: 32px;
    color: #777;
}

.stats {
    display: flex;
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
}

.stats__item {
    flex-grow: 1;
    padding: 40px 20px;

    text-align: center;
    border: 1px solid #aaa;
    background-color: #eee;
}

.label {
    display: block;
    font-size: 24px;
}

.quantity {
    display: block;
    margin-top: 12px;
    font-weight: 700;
}