.transaction-history {
  width: 80%;
}

.transaction-header {
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.header-item {
  width: 33%;
  padding: 40px 0;
  background-color: rgb(77, 166, 166);
}

.transaction-row {
  text-align: center;
}

.transaction-row:nth-child(2n + 1) {
  background-color: #fff;
}

.transaction-row:nth-child(2n) {
  background-color: #eee;
}

.transaction-detail {
  padding: 20px;
}
